**__pycache__
**__ipynb_checkpoints__
**.egg-info

data/*
!data/.gitkeep

thirdparty/*
!thirdparty/.gitkeep

studiogan

# stats/*
# !stats/.gitkeep

fig_collection/
dump/

# notebooks/**
# !notebooks/.gitkeep

# log/*
# !log/.gitkeep
log/

wandb/*

**.npy
**.npz
**.pth
**.pdf
log/**/*.png

run_cp.py