**__pycache__
**__ipynb_checkpoints__
**.egg-info

data/*
!data/.gitkeep

thirdparty/*
!thirdparty/.gitkeep

stats/*
!stats/.gitkeep

# notebooks/**
# !notebooks/.gitkeep

log/*
!log/.gitkeep

wandb/*
