/dcgan
/dcgan_studio
/sagan_studio
/sngan_mimicry
/sngan_studio
/wgan_gp_studio
/sngan_ns_dot
/sngan_hinge_dot
/sngan_resnet_hinge_dot
/wgan_gp_dot
/mlp
/stylegan2_studio
/stacked_mnist_dcgan
/dcgan_mimicry
